body{
background-color: yellow;
height: 900px;
width: 1400px;
}

.email{
float: right;
font-size: 20px;
}

header{
font-size: 50px;
}

h1{
font-weight: 300;
text-indent: 150px;
}

{
float: right;
height: 200px;
}
